<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div>
        <img src="../static/Space.jpg" alt="Back" class="Back">
    </div>
    <div class="Header">
        <div class="Hl-group">
            <div class="Hl">
                <img src="../static/logo.svg" alt="logo" class="Logo">
                <div class="dropdown-menu">
                    <button class="Hl-content">Main</button>
                    <div class="sub-main">
                        <a href="#">기능 1</a>
                        <a href="#">기능 2</a>
                        <a href="#">기능 1</a>
                        <a href="#">기능 2</a>
                        <a href="#">기능 1</a>
                        <a href="#">기능 2</a>
                        <a href="#">기능 1</a>
                        <a href="#">기능 2</a>
                    </div>
                </div>
                <div class="dropdown-plans">
                    <button class="Hl-content">Plans</button>
                    <div class="sub-plans">
                        <a href="#">기능 1</a>
                        <a href="#">기능 2</a>
                        <a href="#">기능 1</a>
                        <a href="#">기능 2</a>
                        <a href="#">기능 1</a>
                        <a href="#">기능 2</a>
                        <a href="#">기능 1</a>
                        <a href="#">기능 2</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="Hr">
            <button class="Hr-content" style="background-color: #808080; color: #000000;">Register</button>
            <button class="Hr-content" style="background-color: #000000; color: #ffffff;">Login</button>
        </div>
    </div>
</body>
</html>