@font-face {
  font-family: 'MangoliWeb';
  src: url('Mangoli.otf') format('opentype');
       
  font-weight: normal; 
  font-style: normal;
}

body {
  font-family: 'MangoliWeb', sans-serif; 
}

.H{
  top: 10px;
  gap: 800px;
  display: flex;
  flex-direction: row;
}

.Hl{
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 300px;
  gap: 16px;
}

.logo{
  font-size: 52px;
  margin: 0px;
  font-weight: 500;
}

.Hl_content{
  background-color: none;
  width: 100px;
  height: 40px;
  border: none;
}
.Hl_content:hover{
  opacity: 0.5;
}

.Hr{
  gap: 16px;
  display: flex;
}

.Hr_content{
  border-radius: 24px;
  width: 100px;
  height: 40px;
  border: none;
}
.Hr_content:hover{
  opacity: 0.5;
}