.Back{
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./Pretendard-SemiBold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-little';
  src: url('./Pretendard-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.Login_bar{
  padding-top: 50px;
  width: 50%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  right: 0px;
  transform: translateX(-0%);
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login_con{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: auto;
  height: auto;
  gap: 8px;
  display: flex;
  flex-direction: column;
}
.title{
  padding-top: 70px;
  position: relative;
  font-family: Pretendard;
  text-align: center;
  font-size: 40px;
  margin: 0;
}
.little_title{
  color: #A0A0A0;
  position: relative;
  font-family: Pretendard-little;
  text-align: center;
  font-size: 18px;
  margin: 0px 0px 40px 0px;
  line-height: 20px;
}

.input_bar input{
  padding-left: 8px;
  box-sizing: border-box;
  height: 48px;
  width: 420px;
  border-radius: 5px;
  margin-bottom: 24px;
  border: solid 1px #888;
}
.input_bar p{
  margin: 8px 0px 4px 4px;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

.Footer{
    width: 420px;
    height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 0px 24px 0px;
    padding: 0;
    box-sizing: border-box;
}
.check{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: auto;
  height: auto;
  gap: 8px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.newPass{ 
    font-size: 16px;
    color: #A0A0A0;
    margin: 0; 
    text-decoration: none;
}
.newPass p {
    margin: 0;
}

.result{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 420px;
  height: 48px;
  background-color: black;
  color: #ffffff;
  border-radius: 6px;
  margin-top: 20px; 
  margin-bottom: 40px; 
}
.result:hover{
  opacity: 0.5;
  cursor: pointer;
}