.Back{
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./Pretendard-SemiBold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-little';
  src: url('./Pretendard-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.signup_bar{
  padding-top: 146px;
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0px;
  transform: translateX(-0%);
  background-color: white;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup_con{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: auto;
  height: auto;
  gap: 8px;
  display: flex;
  flex-direction: column;
}
.title{
  padding-top: 120px;
  position: relative;
  font-family: Pretendard;
  text-align: center;
  font-size: 40px;
  margin: 0px 0px 0px 0px;
}
.little_title{
  color: #A0A0A0;
  position: relative;
  font-family: Pretendard-little;
  text-align: center;
  font-size: 18px;
  margin: 0px 0px 40px 0px;
  line-height: 20px;
}

.input_bar input{
  display: flex;
  padding-left: 8px;
  box-sizing: border-box;
  flex-direction: column;
  height: 48px;
  width: 420px;
  border-radius: 5px;
  margin-bottom: 24px;
  border: solid 1px #888;
}
.input_bar p{
  margin: 8px 0px 4px 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.result{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  bottom: 80px;
  width: 420px;
  height: 48px;
  background-color: black;
  color: #ffffff;
  border-radius: 6px;
}
.result:hover{
  opacity: 0.5;
  cursor: pointer;
}