<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div>
        <img src="../static/back.jpg" alt="Back" class="Back">
    </div>
    <div class="Header">
        <div class="Hl_group">
            <div class="Hl">
                <img src="../static/logo.svg" alt="logo" class="Logo">
                <div class="dropdown_menu">
                    <button class="Hl_content">Main</button>
                    <div class="sub_main">
                        <a href="#">기능 1</a>
                        <a href="#">기능 2</a>
                        <a href="#">기능 1</a>
                        <a href="#">기능 2</a>
                        <a href="#">기능 1</a>
                        <a href="#">기능 2</a>
                        <a href="#">기능 1</a>
                        <a href="#">기능 2</a>
                    </div>
                </div>
                <div class="dropdown_plans">
                    <button class="Hl_content">Plans</button>
                    <div class="sub_plans">
                        <a href="#">기능 1</a>
                        <a href="#">기능 2</a>
                        <a href="#">기능 1</a>
                        <a href="#">기능 2</a>
                        <a href="#">기능 1</a>
                        <a href="#">기능 2</a>
                        <a href="#">기능 1</a>
                        <a href="#">기능 2</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="Hr">
            <a href="/signup">
                <button class="Hr_content" style="background-color: #b069ae; color: #000000;" onclick="">
                    Sign up
                </button>
            </a>
            <a href="/login">
                <button class="Hr_content" style="background-color: rgba(255, 255, 255, 0.2); color: #ffffff;" >
                    Login
                </button>
            </a>
        </div>
    </div>
    <div class="middle_bar">
        <div class="middle_con">
            Your school partner
        </div>
    </div>
    <div class="Footer_bar">
        <div class="Footer_con">
            How we change<br>
            the world<br>
        </div>
    </div>  
</body>
</html>