<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/signup.css">
</head>
</head>
<body>
    <div>
        <img src="../static/back.jpg" alt="Back" class="Back">
    </div>
    <div class="signup_bar">
        <div class="signup_con">
            <p class="title">Sign up to your account!</p>
            <p class="little_title">Please enter your email address <br>to create a new account</p>
        </div>
        <div class="input_bar">
            <p>Student Number</p>
            <input type="text" placeholder="Enter Your Student Number">
            <p>Password</p>
            <input type="password" placeholder="Enter Your Password">
            <p>Confirm Password</p>
            <input type="password" placeholder="Confirm Your Password">
        </div>
        <button class="result">Sign up</button>
    </div>
</body>
</html>